@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&family=Poppins:wght@300;400&display=swap");

@import "tailwindcss";

* {
  font-family: Outfit;
}
.slider {
  appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-image: url(/src/assets/slide_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-layer{
  background-image: url(/src/assets/bg_layer.png);
}